<div class="jumbotron">
    <h1>{{title}}</h1> 
    <p>Calculo del valor de las cuotas en base a valor contado, tasa de interes anual, arancel de tarjeta de credito y 
    cantidad de cuotas.</p> 
</div>
<form class="form-horizontal">	
	<div class="form-group">
	        <div class="col-xs-offset-3 col-xs-2">
			<label for="contado">Contado</label>
		</div>
	        <div class="col-xs-3">
			<input type="number" [value]="contado" (input)="contado = $event.target.value" />
		</div>
	</div>
	<div class="form-group">
	        <div class="col-xs-offset-3 col-xs-2">
			<label for="tasa_interes">Tasa Interes</label>
		</div>
	        <div class="col-xs-3">
			<input type="number" [value]="tasa_interes" (input)="tasa_interes = $event.target.value" />
		</div>
	</div>
	<div class="form-group">
	        <div class="col-xs-offset-3 col-xs-2">
			<label for="tasa_arancel">Tasa Arancel</label>
		</div>
	        <div class="col-xs-3">
			<input type="number" [value]="tasa_arancel" (input)="tasa_arancel = $event.target.value" />
		</div>
	</div>
	<div class="form-group">
	        <div class="col-xs-offset-3 col-xs-2">
			<label for="cuotas">Cuotas</label>
		</div>
	        <div class="col-xs-3">
			<input type="number" [value]="cuotas" (input)="cuotas = $event.target.value" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-8">
			<button (click)="calculateAmounts()" class="btn btn-primary btn-lg">Calcular</button>
			<button (click)="initializeApp()" class="btn btn-warning btn-lg">Inicializar</button>
		</div>
	</div>
</form>
<div>
      <p class="text-info">Monto Total : {{monto_total}}</p>
      <p *ngIf="cuotas>0"class="text-info">Monto Cuotas : {{monto_cuota}}</p>
</div>
